body{
    background-color: #E8EBE4;
    margin: 0px;
    display: flex;
    align-items: center;
}

.section{
    display: flex;
    justify-content: space-between;
    /* width: 50%; */

}
.imagen{
    /* margin-top: 20px;
    margin-right: 2px; */
    width: 75px; 
    border-radius: 50%;
    height: 100px;
    /* border-bottom-left-radius: 0px;
    border-top-right-radius: 0px; */
}
.nombretrago{
    background-color: white;
    color: #000000;
    list-style: none;
    width: 30%;
    margin-top: 1px;
    margin-bottom: 0%;
    text-align: center;
    padding: 10px;
}
.principal{
    display: flex;
    background-color: white;
    width: 250px;
    gap: 10px;
    align-items: center;
    padding: 14px;
    justify-content: space-between;
    border: 1px solid #828485;
}
.mensaje2{
    display: flex;
    background-color: white;
    width: 250px;
    align-items: center;
    padding: 14px;
    height: 150px;
    justify-content: center;
    border: 1px solid #828485;
}
.mensaje3{
    display: flex;
    background-color: white;
    width: 250px;
    height: 94x;
    gap: 20px;
    align-items: center;
    padding: 14px;
    justify-content: space-between;
    border: 1px solid #828485;
    
}
.boxmensaje{
    display: flex;
    width: 100%;
    height: 1045px;
    background-color: #E8EBE4;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    display: flex;
    width: 100%;
}
.con{
    display: flex;
    gap: 20px;

}
.icono{
    width: 10px;
    font-size: 30px;
}
